<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mollom Captchas demo</title>

	<link rel="stylesheet" href="{{ STATIC_URL }}/css/mollom.css">
</head>


<body>


	<form action="check" method="post" id="form" class="form"> {% csrf_token %}
		<h1>Publish a post in our blog!</h1>

		<input type="text" placeholder="Username" class="user">
		<textarea name="comment" placeholder="Comment" class="comment"></textarea>

		<div>
			<p>Please, write the text you see in the next image</p>

			<img id="captcha" class="hidden" src="{{ captcha }}" alt="captcha image">
			<input type="text" placeholder="Captcha..." name="answer" class="captcha-input">
			<div class="clear"></div>

			<input type="button" value="Submit" id="btn-send">
			<input type="hidden" name="sessionID" value="{{ sessionID }}">
		</div>
	</form>

	<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/jquery-2.0.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/mollom.js"></script>

</body>
</html>
